.form-container {
    width: 500px;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(17, 25, 40, 0.17);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: #ffff;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container button:active {
    scale: 0.95;
}

.form-container .logo-container {
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.form-container .social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.form-container .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: inherit;
    color: #fff;
    border: none;
    padding: 12px 16px;
    gap: 8px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .social-button svg {
    width: 22px;
    height: 22px;
    fill: white;
}

.form-container .social-button.facebook {
    background-color: #1778f2;
}

.form-container .social-button.apple {
    background-color: #212121;
}

/* .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 350px;
} */

/* .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-container .form-group input[type="text"],
.form-container .form-group input[type="password"] {
    width: 100%;
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
} */

/* .form-container .form-group input[type="text"]:focus,
.form-container .form-group input[type="password"]:focus {
    outline: none;
    border-color: #1778f2;
} */

.form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    color: #fff;
    background-color: #212121;
    border: none;
    width: 100%;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
    background-color: #313131;
}

.form-container .link {
    color: #1778f2;
    text-decoration: none;
}

.form-container .forgot-password-link {
    align-self: flex-end;
    margin-top: -20px;
}

.form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.form-container .signup-link .link {
    font-weight: 400;
}

.form-container .link:hover {
    text-decoration: underline;
}

.form-container .line {
    width: 100%;
    height: 1px;
    background-color: #212121;
    opacity: 0.1;
}

#editProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

#myProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

#forgot-password-container {
    padding-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}


/* OTP page */

.otp-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: black
}

.message {
    color: #a3a3a3;
    font-size: 14px;
    margin-top: 4px;
    text-align: center
}

.inputs {
    margin-top: 10px
}

.inputs input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 1.5px solid #d2d2d2;
    margin: 0 10px;
}

.inputs input:focus {
    border-bottom: 1.5px solid royalblue;
    outline: none;
}

.action {
    margin-top: 24px;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    align-self: end;
}

.loadercardProfile {
    width: 23rem;
    padding: 1rem;
    text-align: center;
    border-radius: .8rem;
    background-color: white;
}

.profile_loader_card__skeleton {
    background-image: linear-gradient(90deg,
            #ccc 0px,
            rgb(229 229 229 / 90%) 40px,
            #ccc 80px);
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
}

.profile_loader_card__title {
    height: 90px;
    margin-bottom: 15px;
}

.profile_loader_card__description {
    height: 100px;
}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}


#myProfileContainer {
    padding: 20px;
}