body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/* Navbar Styles */
.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    position: relative;
}

.nav-link {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
}

.nav-link:hover {
    color: #007bff;
    /* Change to your desired hover color */
}

/* Dropdown Menu Styles */
.dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-item {
    padding: 10px 20px;
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #333;
    text-align: left;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    /* Change to your desired hover background color */
}

/* Active Link Style */
.active {
    background-color: #007bff;
    /* Change to your desired active background color */
    color: #fff;
    /* Change to your desired active text color */
}

/* ------------------------------------------------------------------------------------ */

#zenclass {
    font-size: large;
}

#sidebar {
    position: static;
    width: 80px;

    font-size: smaller;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(17, 25, 40, 0.17);
    /* border-radius: 12px; */
    border-right: 1px solid rgba(255, 255, 255, 0.125);
}

.navcontents {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.navtext {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}

.navanchor {
    background-color: #753fd3 !important;
}

.userlist {
    backdrop-filter: blur(6px) saturate(67%) !important;
    -webkit-backdrop-filter: blur(6px) saturate(67%) !important;
    background-color: rgba(17, 25, 40, 0.17) !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;

}

.home {
    display: flex;
    height: 91vh;
}

#homeContainer {
    flex: 1;
    padding-left: 10px;
    background-image: url('./assets/dash.jpg');
}

#myquery {
    color: darkgray;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#footer {
    text-align: center;
}

#tiles {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}


#createQueryCard {
    height: auto;
}

#viewqueryCard {
    border-radius: 7px;
    overflow-y: scroll;
    background-color: transparent;
    color: white;
    height: 510px;
    backdrop-filter: blur(6px) saturate(67%);
}

#ViewQueryParent {
    padding: 10px;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
}


.form {
    background-color: #fff;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin: auto;
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
    text-align: start;
}

.input-container {
    position: relative;
}

.input-container input,
.form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;

}

.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.input-container span {
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    place-content: center;
}

.input-container span svg {
    color: #9CA3AF;
    width: 1rem;
    height: 1rem;
}

.input-container select {
    background-color: #fff;
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}

#submitBtn {
    padding: 10px;
    align-self: flex-end;

    display: inline;
}

#myQueriesCard1 {
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(104, 104, 104, 0.17);
    font-size: 14px;
    color: #333;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 8px;
}

#querycardassign {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(104, 104, 104, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 8px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
}

.card-my-query {
    display: flex;
    flex-direction: column;
    margin: none;
    padding: 3px;
}

#card1status {
    padding: 4px;
    border-radius: 4px;
    background-color: #e0eafc;
    color: #007bff;
    text-align: right;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}


#placementcreated {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#backButton {
    display: flex;
    flex-direction: row;
    display: inline-block;
}

#recentQueryHeader {
    display: flex;
    padding: 24px 0 28px;
    justify-content: space-between;
}

#detrow {
    display: flex;
    justify-content: space-between;
}

#desc {
    display: flex;
}

#goToQuery {
    display: flex;
    justify-content: center;
}

#myQueriesContainer {
    width: 90%;
    height: 95%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    scrollbar-width: thin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(17, 25, 40, 0.17);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#addUser {
    display: flex;
    justify-content: space-between;
}

#myQueriesCard1QT {
    display: flex;
    justify-content: space-between;
}

#myQueryButton {
    min-width: 100px;
    border: none;
    margin: none;
    border-radius: 5px 5px 0px 0px;
    backdrop-filter: blur(6px) saturate(67%);

    background-color: rgba(68, 69, 69, 0.238);
}

.UserProfilecontainer {
    padding: 20px;
    font-family: sans-serif;
    border: #000 solid 1px;
    margin: 10px;
    border-radius: 5px;
}

#status {
    border-radius: 3px;
    border-radius: 5px;
    padding: 5px;
}

.attachment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.attachment-container p {
    margin: 0;
}

.attachment-container img {
    max-width: 100%;
    height: auto;
}

#previewImg {

    border-radius: 10px;
    border: 2px solid grey;
}

.loadercard {
    width: 26rem;
    padding: 1rem;
    text-align: center;
    border-radius: .8rem;
    background-color: white;
    height: 90vh;
}

.loader_card__skeleton {
    background-image: linear-gradient(90deg,
            #ccc 0px,
            rgb(229 229 229 / 90%) 40px,
            #ccc 80px);
    background-size: 300%;
    background-position: 100% 0;
    border-radius: inherit;
    animation: shimmer 1.5s infinite;
}

.loader_card__title {
    height: 180px;
    margin-bottom: 15px;
}

.loader_card__description {
    height: 180px;
}

@keyframes shimmer {
    to {
        background-position: -100% 0;
    }
}

#myQueriesFilter {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}


.myQueriesFilterform button {
    border: none;
    background: none;
    color: #8b8ba7;
}

/* styling of whole input container */
.myQueriesFilterform {
    --timing: 0.3s;
    --width-of-input: 400px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
}

/* styling of Input */
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

/* styling of animated border */
.myQueriesFilterform:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

/* Hover on Input */
.myQueriesFilterform:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

/* here is code of animated border */
.myQueriesFilterform:focus-within:before {
    transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
/* .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
} */

/* close button shown when typing */
/* input:not(:placeholder-shown)~.reset {
    opacity: 1;
    visibility: visible;
} */

/* sizing svg icons */
/* .myQueriesFilterform svg {
    width: 17px;
    margin-top: 3px;
} */





.tileCard {
    width: 280px;
    height: 180px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    margin: 30px;
    position: static;
    padding: 10px;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(17, 25, 40, 0.17);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

/* .tileCard:hover {
    box-shadow: rgb(0, 0, 0) 5px 10px 20px, rgb(0, 0, 0) -5px 0px 250px;
} */

/* .time-text {
    font-size: 50px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */


/* .tilesContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
} */

/* .chartContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
} */

.chart {
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(17, 25, 40, 0.17);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

Line {
    width: 200px;
    height: 50px;
}


/* #myQueriesContainer2 {
    width: 90%;
    height: 95%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    gap: 16px;
    scrollbar-width: thin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(17, 25, 40, 0.17);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
} */

#myQueriesCard2 {
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(17, 25, 40, 0.17);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    overflow-y: scroll;
    height: 510px;
}

.row {
    /* display: flex;
    flex-direction: column;
    margin-bottom: 20px; */
    /* Space between rows */
}

#detrow {
    /* display: flex;
    justify-content: space-between;
    margin-bottom: 10px; */
    /* Space between detail rows */
}

#desc {
    /* display: flex;
    flex-direction: column;
    margin-bottom: 20px; */
    /* Space between description sections */
}

.attachment-container {
    /* display: flex;
    flex-direction: column;
    margin-bottom: 20px; */
    /* Space between attachment sections */
}

#imagePreview img {
    /* height: 100px;
    width: 100px;
    border-radius: 8px; */
    /* Rounded corners for the image */
    /* object-fit: cover; */
    /* Maintain aspect ratio and cover the container */
    /* border: 2px solid #80deea; */
    /* Add a border that matches the gradient */
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    /* Light border for the horizontal rule */
    /* margin: 20px 0; */
    /* Space above and below the horizontal rule */
}

#viewQueriesCard .card {
    /* border: none; */
    /* Remove border from card */
    /* border-radius: 8px; */
    /* Add rounded corners to card */
}

.attachment-container p {
    /* margin: 0; */
    /* Remove default margin */
    /* padding: 0; */
    /* Remove default padding */
    /* font-weight: 600; */
    /* Make attachment label bold */
    /* margin-bottom: 10px; */
    /* Space below the label */
}

#detrow span {
    /* flex: 1; */
    /* Allow spans to take equal space */
    /* margin-right: 10px; */
    /* Space between spans */
}

#createdAt,
#assignedTo {
    /* font-weight: bold;
    color: #00796b; */
    /* Dark teal color for the labels */
    /* margin-right: 10px;
    flex: 1; */
    /* Allow labels to take up equal space */
}

#createdAtData,
#assignedToData {
    /* color: #333; */
    /* Darker text color for readability */
    /* flex: 1; */
    /* Allow data to take up equal space */
}

/* .row {
    display: flex;
    flex-direction: column;
    padding: 20px;
} */

.text-body-secondary {
    /* font-size: 14px; */
    /* Smaller font size for secondary text */
}


#createquery {
    height: 510px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    background-color: rgba(104, 104, 104, 0.17);
    font-size: 14px;
    color: #333;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 8px;
    padding: 10px;
}

#createquery {
    flex: 1;
    padding: 40px;
    overflow-y: scroll;
}

#createqueryCard {
    background-color: transparent;
    color: white;
}

#Heading {
    font-family: sans-serif;
    font-size: x-large;
    text-align: left;
    font-weight: 700;
}

#usersList {
    overflow-y: scroll;
    height: 300px;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

#assignToMentor {
    overflow-y: scroll;
    height: 350px;
    backdrop-filter: blur(6px) saturate(67%);
    -webkit-backdrop-filter: blur(6px) saturate(67%);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    align-content: center;
    justify-content: center;
    color: white;
    margin-top: 50px;
}

#mentorList {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

#mentorListHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    font-size: xx-large;
}

/* Recent Query Spinner */
.spinner {
    --size: 30px;
    --first: #005bba;
    --second: #9f46ad;
    width: 100px;
    height: 100px;
    position: relative;
    animation: spin 3s linear infinite;
    justify-content: center;
    align-self: center;
}

.spinner::before,
.spinner::after {
    content: "";
    width: var(--size);
    height: var(--size);
    border: 4px solid var(--first);
    border-top: 4px solid var(--second);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spinRing 1.5s ease-out infinite;
    box-shadow: 0 0 10px var(--first);
}

.spinner::before {
    filter: blur(10px);
}

@keyframes spinRing {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ------------------------------- */

.assignQueryloader {
    width: 100px;
    height: 3px;
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    overflow: hidden;

}

.assignQuerychild {
    width: 60px;
    height: 3px;
    background-color: rgb(107, 27, 255);
    border-radius: 20px;
    z-index: 0;
    margin-left: -60px;
    animation: go 1s 0s infinite;
}

@keyframes go {
    from {
        margin-left: -100px;
        width: 80px;
    }

    to {
        width: 30px;
        margin-left: 110px;
    }
}

.assignedQueriesloadercard {
    display: flex;
    justify-self: center;
    align-self: center;
    margin-top: 20px;
}

#assignQuerychildUl {
    list-style: none;
}

.assignQuerytext {
    width: 100px;
    height: 30px;
    background-color: transparent;
    margin-top: 20px;
    text-align: center;
}

.assignQuerytext::before {
    content: "Loading";
    color: white;
    animation: text 1s 0s infinite;
}

@keyframes text {
    0% {
        content: "Loading";
    }

    30% {
        content: "Loading.";
    }

    60% {
        content: "Loading..";
    }

    100% {
        content: "Loading...";
    }
}

/* Side bar css */